.fondosolido {
    background: linear-gradient(rgba(238, 238, 238, 0.199), rgba(238, 238, 238, 0.199)), rgb(221, 221, 221);
}

.bord {
    border-bottom: 2px solid rgb(151, 151, 151);
}

.breadcrumb-item {
    color: rgb(0, 0, 0);
}

.card-title {
    background: rgb(180, 180, 180);
}

.card-body {
    color: #000000;
    background-color: rgb(202, 202, 202);
    min-height: 220px;
}

.TXTnegro {
    color: #464646;
    padding-top: 20px;
}

.nav-link {
    background-color: aliceblue;
}

h2 {
    text-align: center;
    color: #000000;
    font-weight: bold;
    text-shadow: 0 0 0.2em #ffffff, 0 0 0.2em rgb(0, 0, 0);
}

.mostrar-cantidad-catalogo {
    text-align: center;
    color: rgb(0, 0, 0);
}

.DivMesas {
    text-align: center;
}

td:hover {
    background-color: rgb(202, 202, 202);
}

.tabla-registros {
    margin: auto;
}

.fondoTXmuebles {
    background-color: rgb(202, 202, 202);
}

.texto-paginas {
    color: rgb(0, 0, 0);
}

footer {
    background-color: grey;
    color: darkkhaki;
    border: solid;
    border-radius: 10px;
}

.Info {
    color: black;
}

.colortext {
    color: black;
}

.fondotransparente {
    background: linear-gradient(rgba(5, 7, 12, 0.582), rgba(109, 109, 109, 0.75));
}