.bodyy {
    background-color: rgb(10, 10, 10);
    margin: auto;
}

.breadcrumb-item {
    color: white;
}

main {
    background-color: rgba(202, 202, 202, 0.384);
    margin-left: 35%;
    margin-right: 35%;
}

h2 {
    text-align: center;
    color: white;
}

.mostrar-cantidad-catalogo {
    text-align: center;
    color: white;
}

.DivSillas {
    text-align: center;
}

.tabla-registros,
th,
td,
tr {
    border: 1px solid;
    color: white;
}

td:hover {
    background-color: darkkhaki;
}

.tabla-registros {
    margin: auto;
}

.texto-paginas {
    color: white;
}

footer {
    background-color: grey;
    color: darkkhaki;
    border: solid;
}

.Info {
    color: black;
}

.colorr {
    color: rgb(0, 0, 0);
}

.colortext {
    color: black;
}

.form-floating {
    margin-bottom: 20px;
}

.fondosolido {
    background: linear-gradient(rgba(238, 238, 238, 0.199), rgba(238, 238, 238, 0.199)), url(https://welspunflooring.com/timthumb.php?src=http://welspunflooring.com/productImage/1638787525_Teak%20Brown-1.png&w=675&q=90&h=390);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    background-attachment: fixed;
}

.fondotransparente {
    background: linear-gradient(rgba(5, 7, 12, 0.582), rgba(109, 109, 109, 0.75));
}

.borde {
    border-radius: 25px;
}